@import './color';

html{
    cursor:none;
}

#cursor-custom {
  height: 30px;
  width: 30px;
  pointer-events: none;
  cursor: none;
  position: fixed;
  background: $principal_color;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(5, 145, 98), 0 0 00px rgb(5, 145, 98), 0 0 10px rgb(5, 145, 98), 0 0 10px rgb(5, 145, 98),
    0 0 40px rgb(5, 145, 98), 0 0 50px rgb(5, 145, 98), 0 0 60px rgb(5, 145, 98), 0 0 50px rgb(5, 145, 98);
}
